<h1>Regisztráció</h1>
<form [formGroup]="registrationForm" novalidate (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="col-sm-2">
      <div class="form-group md-form">
        <label for="username">Felhasználónév</label>
        <input type="text" class="form-control" id="username" formControlName="username"  [(ngModel)]="_username">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert-danger">
          <div *ngIf="username.errors.required">
            Kötelező mező
          </div>
          <div *ngIf="username.errors.minlength">
            Legalább 6 karakter hosszúnak kell lennie
          </div>
          <div *ngIf="username.errors.maxlength">
            Legfeljebb 16 karakter hosszú lehet
          </div>
          <div *ngIf="username.errors.pattern">
            Csak betűket, számokat, szóközt illetve kötőjelet tartalmazhat
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email_addr">E-mail cím</label>
        <input email class="form-control" id="email_addr" formControlName="email"  [(ngModel)]="_email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
          <div *ngIf="email.errors.required">
            Kötelező mező
          </div>
          <div *ngIf="email.errors.email">
            Nem valós e-mail cím
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Jelszó</label>
        <input type="password" class="form-control" id="pwd" formControlName="pwd" [(ngModel)]="_password">
        <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert-danger">
          <div *ngIf="pwd.errors.required">
            Kötelező mező
          </div>
          <div *ngIf="pwd.errors.minlength">
            Legalább 8 karakter hosszúnak kell lennie
          </div>
          <div *ngIf="pwd.errors.maxlength">
            Legfeljebb 18 karakter hosszú lehet
          </div>
          <div *ngIf="pwd.errors.pattern">
            Csak kisbetűt, nagybetűt és számot tartalmazhat.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd_repeat">Jelszó még egyszer</label>
        <input type="password" class="form-control" id="pwd_repeat" formControlName="pwd2">
        <div *ngIf="(pwd2.invalid || registrationForm.errors?.doesnotmatch) && (pwd2.dirty || pwd2.touched || pwd.dirty || pwd.touched)" class="alert-danger">
          <div *ngIf="pwd2.errors?.required">
            Kötelező mező
          </div>
          <div *ngIf="registrationForm.errors?.doesnotmatch">
            A megadott jelszavak nem egyeznek!
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Regisztráció</button>
    </div>
  </fieldset>
</form>


