/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.whole-page {
    width: 100%;
    text-align: start;
    padding-left: 20px;
}

mat-progress-bar .mat-progress-bar-buffer {
    background: orangered;
}
mat-progress-bar .mat-progress-bar-fill::after {
    background: green;
}

.mat-button{
    background-color: gray;
}