a {
    cursor: pointer
}
h3 {
    font-weight: bold;
}
table {
    width: 30%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-right_answers,
#right_answers_sum{
    color: green;
}

.mat-column-wrong_answers,
#wrong_answers_sum{
    color: red;
}

