<h2>{{username}}</h2>
<h3>Játékos statisztika</h3>
<h4><u>Rangsor: {{place}}.</u></h4>
<div *ngIf="!showStatistics; else elseBlock">
    <ul>
        <li id="right_answers_sum">Helyes válaszok: {{sumOfRightAnswers}}</li>
        <li id="wrong_answers_sum">Helytelen válaszok: {{sumOfWrongAnswers}}</li>
    </ul>
    <a (click)="showStatistics=!showStatistics">
        Részletes statisztika megjelenítése
    </a>
</div>
<ng-template #elseBlock>
    <a (click)="showStatistics=!showStatistics">Részletes statisztika elrejtése</a>
    <table mat-table #table [dataSource]="answersPerTopic" class="mat-elevation-z4">
        <ng-container matColumnDef="topic">
            <th mat-header-cell *matHeaderCellDef> Témakör </th>
            <td mat-cell *matCellDef="let row"> {{row["topic"]}} </td>
            <td mat-footer-cell *matFooterCellDef> Összesen: </td>
        </ng-container>
        <ng-container matColumnDef="right_answers">
            <th mat-header-cell *matHeaderCellDef> Helyes </th>
            <td mat-cell *matCellDef="let row"> {{row["right_answers"]}} </td>
            <td mat-footer-cell *matFooterCellDef> {{sumOfRightAnswers}} </td>
        </ng-container>
        <ng-container matColumnDef="wrong_answers">
            <th mat-header-cell *matHeaderCellDef> Helytelen </th>
            <td mat-cell *matCellDef="let row"> {{row["wrong_answers"]}} </td>
            <td mat-footer-cell *matFooterCellDef> {{sumOfWrongAnswers}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
    </table>
</ng-template>
<h3>Adatok módosítása</h3>
<div *ngIf="saveMsg">{{saveMsg}}</div>
<form [formGroup]="updateForm" novalidate (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="email">E-mail cím</label>
          <input id="email" class="form-control" formControlName="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
            <div *ngIf="email.errors.email">
              Helytelen e-mail cím
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">Jelszó</label>
          <input type="password" class="form-control" id="pwd" formControlName="pwd">
          <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert-danger">
            <ul>
            <li *ngIf="pwd.errors.minlength">
              Legalább 8 karakter hosszúnak kell lennie
            </li>
            <li *ngIf="pwd.errors.maxlength">
              Legfeljebb 18 karakter hosszú lehet
            </li>
            <li *ngIf="pwd.errors.pattern">
              Csak kisbetűt, nagybetűt és számot tartalmazhat, mindegyikből legalább egyet.
            </li>
          </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd_repeat">Jelszó még egyszer</label>
          <input type="password" class="form-control" id="pwd_repeat" formControlName="pwd2">
          <ul *ngIf="(pwd2.invalid || updateForm.errors?.doesnotmatch) && (pwd2.dirty || pwd2.touched || pwd.dirty || pwd.touched)" class="alert-danger">
            <li *ngIf="updateForm.errors?.doesnotmatch">
              A megadott jelszavak nem egyeznek!
            </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-success">Mentés</button>
      </div>
    </fieldset>
  </form>