<h1>Felhasználók kezelése</h1>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Szűrés">
</mat-form-field>
<table mat-table #table [dataSource]="users" class="mat-elevation-z4">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Felhasználó</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail cím</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Szerepkör</th>
        <td mat-cell *matCellDef="let row">
            <mat-select [(ngModel)]="row.role" (selectionChange)="row.changed = true;">
                <mat-option [value]="currentRole" *ngFor="let currentRole of roles">
                {{ roleNames[currentRole] }}
                </mat-option>
            </mat-select></td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef > Törlés </th>
        <td mat-cell *matCellDef="let row; let i=index" >
            <button class="delete-button" mat-icon-button (click)="removeUser(i)" >
                <span class="material-icons">
                    delete
                </span>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; let even=even; columns: columnsToDisplay" [ngClass]="{gray: even}"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

<button mat-button (click)="saveChanges()">Változtatások mentése</button>
