
<mat-toolbar color="primary" class="mat-elevation-z8 navbar">
  <span>Ajler - online kvíz</span>
  <div class="spacer"></div>
  <a mat-button class="menu-button" routerLink="">Főoldal</a>
  <a mat-button class="menu-button" *ngIf="role === 'admin' || role === 'user'" routerLink="play">Kvíz kitöltése</a>
  <a mat-button class="menu-button" routerLink="dashboard">Ranglista</a>
  <a mat-button class="menu-button" *ngIf="role === 'admin'" routerLink="manage_questions">Kérdések kezelése</a>
  <a mat-button class="menu-button" *ngIf="role === 'admin'" routerLink="manage_users">Felhasználók kezelése</a>
  <a mat-raised-button [matMenuTriggerFor] = "menu" *ngIf="role === 'admin' || role === 'user'">{{username}}</a>
  <mat-menu #menu = "matMenu">
    <button mat-menu-item routerLink="account">Fiók</button>
    <button mat-menu-item (click)="logout()">Kijelentkezés</button>
 </mat-menu>
  <a mat-button class="menu-button" *ngIf="role == null" routerLink="login">Belépés</a>
  <a mat-raised-button *ngIf="role == null" routerLink="registration">Regisztráció</a>
</mat-toolbar>
<div class="whole-page">
  <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>