<div *ngIf="msg != null && msg !== ''">{{msg}}</div>
<form novalidate (ngSubmit)="onSubmit()">
    <fieldset>
        <div class="col-sm-2">
            <div class="form-group md-form">
                <label for="username">Felhasználónév</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
            </div>
            <div class="form-group md-form">
                <label for="password">Jelszó</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
            </div> 
            <button class="btn btn-success" type="submit">Bejelentkezés</button>
        </div>
    </fieldset>
</form>
