<h1>Ranglista</h1>
<div>
    <table mat-table #table [dataSource]="dashboard" class="mat-elevation-z4">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Rangsor </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{i+paginator.pageIndex*paginator.pageSize+1}}.</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Játékos </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Pontszám </th>
            <td mat-cell *matCellDef="let row"> {{row.score}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; let even=even; columns: columnsToDisplay" [ngClass]="{gray: even}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>