
.mat-column-index {
    width: 30%;
}

.mat-column-name {
    width: 50%;
}

.mat-column-score {
    width: 30%;
    font-weight: bold;
}

.gray {
    background:ghostwhite;
}

.mat-paginator,
table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.mat-cell {
    font-size: large;
}

