/**********************Topic selection************************/
.topic-select-container {
    position: relative;
    display: inline-block;
}

.topic-select-container .topic-tooltip {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: smaller;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left:50%;
    margin-left: -45px;
}

.topic-select-container:hover .topic-tooltip {
    visibility: visible;
}

.topic-select{
    width: 80px;
    height:80px;
    border-radius: 10px;
    border: 1px solid black;
}

.topic-select:hover {
    opacity: 80%;
}
tr, td{
    padding: 3px;
}

#start-quiz-button {
    width: 100%;
}

/********************Quiz**************************/
#quiz-container {
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}

#question-container {
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 220px;
    background-color: mediumblue;
}


#question-header-container {
    border-radius: 13px;
    width: 100%;
    height: 100px;
    background-color: lightblue;
    position: relative;
    border:5px solid mediumblue;
}

#question-topic-img {
    height:80%;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    right:0;
}

#question-text {
    float:left;
    width:75%;
    margin:8px;
}


.mat-progress-bar{
    height: 15px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    color: green;
    border-radius: 10px;
}
#answer-container {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom:0;
}

.answer-td {
    width: 50%;
    padding: 5px;
}

.answer-button {
    height: auto;
    border-radius: 13px;
    background-color: gray;
    width: 100%;
    height: 100%;
}

.question-counter {
    text-align: center;
}

#next-question-button {
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
}