<div *ngIf="!quizStarted; else showQuiz" style="width: auto; display: inline-block;">
    <h1>Játék</h1>
    <h3>Válassz témakört!</h3>
    <div *ngIf="rejectMessage">{{rejectMessage}}</div>
    <table>
        <tr *ngFor="let i of [0,1]">
            <td *ngFor="let j of[0,1,2,3]">
                <div class="topic-select-container">
                    <input type="image" [src]="topicImagePaths[i*4+j]" class="topic-select" (click)="toggleTopic(i*4+j)" [ngStyle]="{'background-color': selectedTopics[i*4+j]? '#00ad0c':'gray'}">
                    <span class="topic-tooltip">{{topicNames[i*4+j]}}</span>
                </div>
            </td>
        </tr>
    </table>
    <mat-form-field>
        <mat-select [(value)]=quizLength>
            <mat-option *ngFor="let l of quizLengths; let i = index" [value]=quizLengths[i]>
                {{quizLengthStrings[i]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button id="start-quiz-button" (click)="startQuiz()">Mehet!</button>
</div>
<ng-template #showQuiz>
    <div *ngIf="questionCount&lt;questions.length; else showFinish">
        <h2 class="question-counter">{{questionCount+1}}. kérdés</h2>
        <div id="quiz-container">
            <div id="question-container">
                <div id="question-header-container">
                    <div id="question-text">{{currentQuestion}}</div>
                    <img id="question-topic-img" [src]="topicImagePaths[questionTopics[0]]">
                </div>
                <mat-progress-bar [value]="timeLeft/secondsPerQuestion*100"></mat-progress-bar>
                <table id="answer-container">
                    <tr *ngFor="let i of [0,1]">
                        <td class="answer-td" *ngFor="let j of [0,1]">
                            <button mat-button class="answer-button" (click)="evaluate(i*2+j)"
                            [ngStyle] = "{'background-color': getButtonColor(i*2+j)}"
                            [disabled]="providedAnswer != undefined">{{answers[i*2+j]}}</button>
                        </td>
                    </tr>
                </table>
            </div>
            <button mat-button id="next-question-button" (click)="nextQuestion()" *ngIf="providedAnswer!=null">Tovább</button>
        </div>
    </div>
    <ng-template #showFinish>
        <h1><b>Gratulálok!</b></h1>
        <h2><b>Eredmény: {{score | number: '0.0-1'}}</b></h2>
        <h4>Helyesen megválaszolt kérdések: {{rightAnswersTotal}}</h4>
        <h4>Rosszul megválaszolt kérdések: {{wrongAnswersTotal}}</h4>
        <button mat-button (click)="newQuiz()">Új játék</button>
    </ng-template>
</ng-template>
