.mat-table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: green !important;;
}

.right-answer-input ::ng-deep.mat-form-field-outline {
    border-radius: 5px;
    background-color: palegreen;
}

.wrong-answer-input ::ng-deep.mat-form-field-outline {
    border-radius: 5px;
    background-color: rgb(255, 175, 175);
}

.right-answer-input, .wrong-answer-input {
    padding-left: 10px;
}

.topic-select-container {
  position: relative;
  display: inline-block;
}

.topic-select-container .topic-tooltip {
  visibility: hidden;
  width: 74px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: x-small;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left:50%;
  margin-left: -37px;
}

.topic-select-container:hover .active-topic-select+.topic-tooltip {
  visibility: visible;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.topic-select{
  width: 32px;
  height:32px;
  border-radius: 10px;
  border: 1px solid black;
}

.topic-select.active-topic-select:hover {
  opacity: 80%;
}

.question-text-area{
  width: 400px;
}
textarea.mat-input-element {
  resize: none;
}

textarea.mat-input-element:read-only {
  background-color: lightgray;
}

