<button mat-button (click)="openNewQuestionDialog()">Új kérdés felvétele</button>

<table mat-table #table [dataSource]="questions" class="mat-elevation-z4" multiTemplateDataRows>
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef>Kérdés</th>
        <td mat-cell *matCellDef="let row">
            <mat-form-field class="question-text-area">
                <textarea matInput rows="5" cols="30" [value]="row.question" maxlength="300" [(ngModel)]="row.question" [readonly]="row !== expandedElement" (click)="row === expandedElement?$event.stopPropagation():null"></textarea>
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="topics">
        <th mat-header-cell *matHeaderCellDef>Témakör</th>
        <td mat-cell *matCellDef="let row">
            <table>
                <tr *ngFor="let i of [0,1]">
                    <td *ngFor="let j of [0,1,2,3]">
                        <div class="topic-select-container">
                            <input type="image" [src]="topicImagePaths[i*4+j]" class="topic-select" [class.active-topic-select]="row === expandedElement" (click)="row === expandedElement ? toggleTopic(row, i*4+j, $event) : null" [ngStyle]="{'background-color': row.topics.indexOf(i*4+j) > -1? '#00ad0c':'gray'}">
                            <span class="topic-tooltip" (click)="$event.stopPropagation()">{{topicNames[i*4+j]}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef > Módosítás </th>
        <td mat-cell *matCellDef="let row; let k=index" >
            {{k}}
            <button class="delete-button" mat-icon-button (click)="removeQuestion(row);$event.stopPropagation()" >
                <span class="material-icons">
                    delete
                </span>
            </button>
            <button class="delete-button" mat-icon-button (click)="saveQuestion(row);$event.stopPropagation()">
                <span class="material-icons">
                    save
                </span>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
               (@detailExpand.done)="questions._updateChangeSubscription()">
            <mat-form-field appearance="outline" class="right-answer-input">
                <textarea rows="5" matInput [value]="element.right" [(ngModel)]="element.right"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="wrong-answer-input" *ngFor="let wrongAnswer of element.wrongs; let widx=index; trackBy:trackByFn">
                <textarea rows="5" matInput [value]="element.wrongs[widx]" [(ngModel)]="element.wrongs[widx]" onfocusout="console.log('lost focus')"></textarea>
            </mat-form-field>
          </div>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; let even=even; columns: columnsToDisplay" [ngClass]="{gray: even}"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element;restoreValue(element);">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>

<button mat-button (click)="deleteSelected()">Kijelöltek törlése</button>