<h2 mat-dialog-title>Új kérdés</h2>
<div mat-dialog-content>
    <table>
        <tr *ngFor="let i of [0,1]">
            <td *ngFor="let j of [0,1,2,3]">
                <div class="topic-select-container">
                    <input type="image" [src]="topicImagePaths[i*4+j]" class="topic-select" (click)="toggleTopic(i*4+j)" [ngStyle]="{'background-color': newQuestion.topics.indexOf(i*4+j) > -1? '#00ad0c':'gray'}">
                    <span class="topic-tooltip">{{topicNames[i*4+j]}}</span>
                </div>
            </td>
        </tr>
    </table>
    <mat-form-field class="question-text-area">
        <textarea matInput rows="5" cols="30" [value]="newQuestion.question" maxlength="300" [(ngModel)]="newQuestion.question"></textarea>
    </mat-form-field>
    <table>
        <tr>
            <td>
                <mat-form-field appearance="outline" class="right-answer-input">
                    <textarea rows="5" matInput [value]="newQuestion.right" [(ngModel)]="newQuestion.right"></textarea>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="wrong-answer-input" >
                    <textarea rows="5" matInput [value]="newQuestion.wrongs[0]" [(ngModel)]="newQuestion.wrongs[0]"></textarea>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline" class="wrong-answer-input" >
                    <textarea rows="5" matInput [value]="newQuestion.wrongs[1]" [(ngModel)]="newQuestion.wrongs[1]"></textarea>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="wrong-answer-input" >
                    <textarea rows="5" matInput [value]="newQuestion.wrongs[2]" [(ngModel)]="newQuestion.wrongs[2]"></textarea>
                </mat-form-field>
            </td>
        </tr>
    </table>
<button mat-button [mat-dialog-close]="newQuestion">Mentés</button>
</div>

